<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Resource does not exist</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/main.css"></head>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Products</a></li>
                <li><a href="/manage/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Requested resource does not exist</h1>
  
    </main>
</body>
</html>